.Containar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ImageCover {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust based on your design */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%); /* Darken image */
  }
  
  .textCover {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px); 
    animation: slideUp 1s ease-in-out forwards;
  }
  @keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  .textCover:hover{

        font-size: 32px;
        transition: 1s ;
        cursor: pointer;

  }
  .btnWhatsap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 175, 8);
    width: 300px;
    height: 50px;
    font-size: large;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 4px 10px #189cce2e;

  }  
  .btn1:hover {
    background-color: rgb(3, 149, 3);
  }
  .ancurBtn{
    text-decoration: none;
  }
  .para1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
  }
  .para2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 20px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    line-height: 1.6;

  }


  /* /////////////////////////////// */
  .cities {
    margin-top: 5%;
  }
  .citiesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cityText1 {
    color: rgb(20, 82, 158);
  }
  .cityText1Z{
    color: rgb(20, 82, 158);
    font-size: 40px;
   font-weight: bold;
   margin-right: 50px;
  }
  .cityText2z{
    font-size: 20px;
   font-weight: bold;
   margin-right: 50px;
   color: gray;
  
  }
  .cityText2 {
    color: gray;
  }
  .citiesImages {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }
  .cityImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .imgCity {
    box-shadow: 0px 5px 5px rgba(58, 138, 224, 0.5);
    border-radius: 25px;
    box-shadow: 5px;
    opacity: 1;
    width: 240px;
    height: 220px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .imgCity:hover {
    transform: scale(1.04);
    border-radius: 25px;
  }
  .citiesImages h5 {
    color: #0056b3;
  }

  .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    direction: rtl;
    margin-top: 1%;
  
  }
  .dot{
    font-size: large;
  }
  .dot1{
    font-size: large;
    color: #2283ec;
  
  }

  .btnWhatsapp{
    border: none;
  }

  /* /////////////////////////// */
  .para11{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

  }
  .para22{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    color: rgb(60, 60, 60);
  }

  /* ////////////////////////// */
  /* .sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  } */

  .secSlider{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .information2 {
    text-align: right; 
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.paraWhy {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.info-list {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    font-size: 20px;
    line-height: 2; 
}
.mainP{
  font-size: 24px;
  font-weight: bold;
  color: "#333";
  margin-bottom: 10px;
  
}
.sideP{
  font-size: 18px;
  color:#555 ;
  margin-bottom: 5px;
}
.sideP2{
  font-size: 18px;
  color:#28a745 ;
  font-weight: bold;
}
.sideP3{

  font-size: 20px;
  color:#dc3545 ;
  font-weight: bold;
  margin-top: 10px;
}
/* ////////////////////////////////////// */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #484545;
  padding: 10px 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.marquee {
  display: flex;
  gap: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #e3e3e3;
  animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* ////////////////////////////////////////// */

@media only screen and (max-width: 990px) {

.textCover{
  font-size: 25px;
}
.btn1{
  width: 250px;
    height: 45px;
    font-size:18px ;
}
.para1,.para11{
  font-size: 24px;
  text-indent:-20px;
  text-align: center;

}
.para2,.para22{
  font-size: 16px;
  text-indent:-20px;
  text-align: center;
  line-height: 30px;
}
.citiesImages{
  display: flex;
  justify-content: center;
  align-items: center;
}
.secSlider{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

}

@media only screen and (max-width: 840px) {
 
  .textCover{
    font-size:20px;
  }
  .btn1{
      width: 230px;
      height: 40px;
      font-size:16px ;
  }
  .para1,.para11{
    font-size: 20px;
    text-indent:-20px;
    text-align: center;
  
  }
  .para2,.para22{
    font-size: 18px;
    text-indent:-20px;
    text-align: center;
    line-height: 30px;
  }
  .citiesImages{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paraWhy{
    font-size: 25px;

  }
  .info-list{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 760px) {
  .para1,.para11{
    font-size: 18px;
    text-indent:-20px;
    text-align: center;
  
  }
  .para2,.para22{
    font-size: 16px;
    text-align: center;
    text-indent:-20px;
    line-height: 30px;
  }
  .mainP{
    font-size:20px;
  }
  .sideP{
    font-size:16px;

  }
  .sideP2{
    font-size: 15px;

  }
  .sideP3{
    font-size: 17px;

  }

}

@media only screen and (max-width: 560px) {
  .para1,.para11{
    font-size: 16px;
    text-align: center;
    text-indent:-20px;
  
  }
  .para2,.para22{
    font-size: 14px;
    text-align: center;
    text-indent:-20px;
    line-height: 28px;
  }
  .btn1{
    width: 200px;
    height: 40px;
    font-size:14px ;
}
.paraWhy{
  font-size: 20px;

}
.info-list{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-right: 50px;
}
  
}

@media only  screen and (max-width: 440px){
  .para2{
    font-size:14px;
    line-height: 25px;
  }
  .para22{
    font-size:13px;
    text-indent:-20px;
    line-height: 25px;

  }
  .para11{
      font-size: 11px;
  }
  .infoSection1{
 
    margin-left: 10%;
  }
  .citiesImages{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .imgCity {
    box-shadow: 0px 5px 5px rgba(58, 138, 224, 0.5);
    border-radius:50px;

    box-shadow: 5px;
    width: 150px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}